x-shared: &shared
  restart: unless-stopped
  environment:
    - N8N_RUNNERS_ENABLED=true
    - N8N_RUNNERS_MODE=external
    - N8N_RUNNERS_AUTH_TOKEN=${RUNNERS_AUTH_TOKEN}
    - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
    - N8N_RUNNERS_BROKER_PORT=5001
    - N8N_NATIVE_PYTHON_RUNNER=true
    - N8N_SKIP_AUTH_ON_OAUTH_CALLBACK=false
    - N8N_RESTRICT_FILE_ACCESS_TO=./n8n-files
    - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
    - DB_TYPE=sqlite
    - DB_SQLITE_POOL_SIZE=10
    - N8N_BLOCK_ENV_ACCESS_IN_NODE=true
    - N8N_SECURE_COOKIE=false
    - N8N_DEFAULT_BINARY_DATA_MODE=filesystem
    - N8N_SECURE_COOKIE=false
    - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false      
    - N8N_PORT=5000
    - WEBHOOK_URL=http://host.docker.internal:5000
  volumes:
    - ./data:/home/node/.n8n
    - ./dist:/home/node/.n8n/custom/node_modules/${REPO_NAME}
    - ./node_modules:/home/node/.n8n/custom/node_modules
    - /etc/localtime:/etc/localtime:ro
    - ./fonts:/usr/local/share/fonts:ro
    - ./n8n-task-runners.json:/etc/n8n-task-runners.json:ro
  extra_hosts:
    - "host.docker.internal:host-gateway"    


services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n-dev
    <<: *shared
    ports:
      - 5000:5000

  n8n-workers:
    image: n8nio/n8n:latest
    <<: *shared    
    container_name: n8n-workers-dev
    depends_on:
      - n8n
    

  n8n-runners:
    image: n8nio/runners:latest
    container_name: n8n-runners-dev
    <<: *shared
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5001
      - N8N_RUNNERS_LAUNCHER_HEALTH_CHECK_PORT=5009
      - N8N_RUNNERS_AUTH_TOKEN=${RUNNERS_AUTH_TOKEN}
    depends_on:
      - n8n
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5009/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3